{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> RPG </h1>
            </div>

            <div id="status">
                <p>


                    Your application is now ready. You can start working on it

                </p>
            </div>



        </div>
    </div>
{% endblock %}

